@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ocultar scrollbar horizontal en filtros */
.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }

html, body {
  background-color: #f0f4f8;
}
